
.page-body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    width: 1900px;
    background-color: #313131;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    line-height: 70px;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    margin-left: 27px;
}

.header-img {
    margin-left: 25px;
    margin-top: 20px;
    width: 27px;
    height: 27px;
}

.menu-header {
    margin: 0;
    background-color: #313131;
    display: flex;
    list-style: none;
}

.menu-header-nav {
    height: 70px;
    margin-right: auto;
    margin-left: auto;
}

.menu-header-link {
    padding-right: 25px;
    font-weight: 600;
    font-size: 15px;
    line-height: 70px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.menu-header-link:hover {
    color: #14B9D5;
}

.find-img {
    width: 17px;
    height: 17px;
}

.header-button {
    text-decoration: none;
    border: none;
    height: 70px;
    width: 70px;
    background-color: #000000;
}

.main {
    width: 1900px;
    margin-right: auto;
    margin-left: auto;
}

.flex-block-img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-bg.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

.flex-block-items {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.flex-block-text {
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 37px;
    margin-top: 164px;
    text-align: center;
    flex: 100%;
}

.btn {
    text-decoration: none;
    border: none;
    width: 170px;
    height: 55px;
    color: #FFFFFF;
    margin-top: 44px;
    margin-bottom: 74px;
}

.color-green {
    background-color: #89CA62;
}

.color-blue {
    background-color: #14B9D5;
}

.flex-item {
    margin-right: 20px;
    flex-wrap: wrap;
}

.flex-pictures {
    background-color: #F2F2F2;
    padding-top: 49px;
}

.main-posts {
    margin: 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
}

.flex-pictures-description {
    flex: 100%;
    margin-bottom: 52px;
}

.flex-pictures-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    flex-direction: column;
    flex: auto;
    max-height: 926px;
}

.flex-pic-item-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 65px;
    width: 370px;
    text-align: center;
    color: #353A3D;
    background-color: #FFFFFF;
}

.flex-pic-item {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    margin-bottom: 32px;
}

.flex-pictures-container {
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 42px;
}

.grid-main-img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/parallax-bg.jpeg);
    background-position-y: 28%;
    background-attachment: fixed;
    background-size: cover;
    height: 588px;
}

.menu-line {
    width: 60px;
    height: 3px;
    margin-top: 87px;
    background: #18B4CF;
    border: none;
}

.grid-menu {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns:repeat(8, 1fr);
    grid-template-areas:
  " item1 item1 item1 item1 item1 item1 item1 item1"
  " item6 item6 item2 item3 item4 item5 item7 item7"
}

.menu-item1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 106px;
    color: #FFFFFF;
    grid-area: item1;
}

.menu-item2 {
    grid-area: item2;
}

.menu-item3 {
    grid-area: item3;
}

.menu-item4 {
    grid-area: item4;
}

.menu-item5 {
    grid-area: item5;
}

.menu-items {
    padding-top: 107px;
    padding-bottom: 90px;
    justify-self: center;
}

.grid-top-rated {
    display: grid;
    grid-template-columns:repeat(7, 1fr);
}

.grid-main-posts {
    display: grid;
    grid-template-columns: 1fr;
}

.rated-item1 {
    align-self: center;
    line-height: 134px;
}

.rated-img{
    width: 100%;
}

.grid-news {
    display: grid;
    grid-template-columns:327px 1fr 1fr 1fr 1fr 326px;
    grid-gap: 35px 35px;
    margin-bottom: 35px;
    grid-template-areas:
    "item0 item1 item1 item1 item2 item9"
    "item0 item3 item3 item4 item4 item9"
    "item0 item5 item5 item6 item6 item9"
    "item0 item7 item8 item8 item8 item9"
}

.news-item1 {
    grid-area: item1;
    justify-self: left;
}
.news-item2 {
    grid-area: item2;
    justify-self: right;
}
.news-item3 {
    grid-area: item3;
    justify-self: left;
}
.news-item4 {
    grid-area: item4;
    justify-self: right;
}
.news-item5 {
    grid-area: item5;
    justify-self: left;
}
.news-item6 {
    grid-area: item6;
    justify-self: right;
}
.news-item7 {
    grid-area: item7;
    justify-self: left;
}
.news-item8 {
    grid-area: item8;
    justify-self: right;
}

.sub-grid1 {
    display: grid;
    grid-template-rows: 70px 190px;
    grid-template-columns:483px 364px;
    grid-template-areas:
    " item1 item2 "
    " item1 item3 "
}

.sub-grid1-item1 {
    grid-area: item1;
}

.sub-grid1-item2 {
    grid-area: item2;
    background-color: #F9F7F7;
    padding-right: 14px;
    padding-top: 41px;
}

.sub-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
}

.sub-grid1-item3 {
    background-color: #F9F7F7;
    grid-area: item3;
    padding-right: 14px;
}

.small-text {
    text-align: end;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}

.sub-grid2 {
    background-color: #F9F7F7;
    display: grid;
    grid-template-rows: 210px 50px;
    grid-template-columns:277px;
    grid-template-areas:
    " item1 "
    " item2 "
}

.sub-grid2-item1 {
    grid-area: item1;
}

.sub-grid2-item2 {
    grid-area: item2;
    line-height: 50px;
    justify-self: center;
}

.sub-grid3 {
    background-color: #F9F7F7;
    display: grid;
    grid-template-rows:260px 40px 104px;
    grid-template-columns:554px;
    grid-template-areas:
    " item1 "
    " item2 "
    " item3 "
}

.sub-grid3-item1 {
    grid-area: item1;
}

.sub-grid3-item2 {
    align-self: center;
    padding-right: 13px;
    grid-area: item2;
}

.sub-grid3-item3 {
    grid-area: item3;
    padding: 13px;
    align-self: center;
}
.footer{
    padding-top: 42px;
    width: 1900px;
    margin-right: auto;
    margin-left: auto;
}
.grid-footer{
    background-color: #000000;
    display: grid;
    grid-template-columns:367px 1071px 38px 64px 286px;
    grid-template-rows:80px;
    align-items: center;
    grid-template-areas:
    " item0 item1 item2 item3 item4"
}
.footer-item1{
    grid-area: item1;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    justify-self: left;
    text-align: center;
    color: #FFFFFF;
}
.footer-item2{
    grid-area: item2;
}
.footer-item3{
    grid-area: item3;
}